* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  width: 100%;
  color: white;
}

.App-navbar {
  background-color: pink;
  height: 50px;
  width: 100%;
}

.single-event {
  background-color: yellow;
  height: 97px;
  width: 300px;
  border-bottom: 2px solid black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
